* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.App {
  background-color: #000;
  height: 100vh;
}


.chat__inputBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chat__sendButton--svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
} 